#titulo-h2{
    color: blue;
}

.fundo-roxo {
    background: rgb(175, 134, 95)
}

.texto-rosa {
    color:deeppink
}

h2 {
    color: darkviolet;
}

p {
    color: darkorchid;
}

h2 {
    color: brown
}

/*cascata*/
/*especificações*/